.search-bar input {
  width: clamp(175px, 25%, 375px);
  min-width: 0;
  padding: 8px 12px;
  font-size: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.search-bar {  
   /* margin-left: auto; */
    align-self: flex-end;
  /*  padding: 3px; */
}